.text h2 {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.text p {
    width: 270px;
    height: 75px;
    font-size: 14px;
    line-height: 1.71;
    color: $title-text-color;
}

h3 {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}